include README.md
include setup.py
recursive-include gstools *.py *.pyx
recursive-exclude gstools *.c *.cpp
recursive-include tests *.py
recursive-include docs/source *
include docs/Makefile docs/requirements.txt
include LICENSE
recursive-exclude .github *
exclude .gitignore
exclude .zenodo.json