prune *
graft tests
recursive-include src/gstools *.py *.pyx
recursive-exclude src/gstools *.c *.cpp
include LICENSE README.md pyproject.toml setup.py
exclude CHANGELOG.md CONTRIBUTING.md AUTHORS.md
global-exclude __pycache__ *.py[cod] .*
