name: Continuous Integration

on:
  push:
    branches:
      - "main"
    tags:
      - "*"
  pull_request:
    branches:
      - "main"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  source_check:
    name: source check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -v --editable '.[lint,test]'
          pip install "coveralls>=3.0.0"

      - name: ruff linter
        run: |
          python -m ruff check src/gstools/

      - name: ruff format check
        run: |
          python -m ruff format --diff src/gstools/

      - name: coveralls check
        run: |
          python -m pytest --cov gstools --cov-report term-missing -v tests/
          python -m coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    name: test on ${{ matrix.os }} with py ${{ matrix.ver.py }} numpy${{ matrix.ver.np }} scipy${{ matrix.ver.sp }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-13, macos-14]
        # https://github.com/scipy/oldest-supported-numpy/blob/main/setup.cfg
        ver:
          - { py: "3.8", np: "==1.20.0", sp: "==1.5.4" }
          - { py: "3.9", np: "==1.20.0", sp: "==1.5.4" }
          - { py: "3.10", np: "==1.21.6", sp: "==1.7.2" }
          - { py: "3.11", np: "==1.23.2", sp: "==1.9.2" }
          - { py: "3.12", np: "==1.26.2", sp: "==1.11.2" }
          - { py: "3.13", np: "==2.1.0", sp: "==1.14.1" }
          - { py: "3.13", np: ">=2.1.0", sp: ">=1.14.1" }
        exclude:
          - os: ubuntu-24.04-arm
            ver: { py: "3.8", np: "==1.20.0", sp: "==1.5.4" }
          - os: macos-14
            ver: { py: "3.8", np: "==1.20.0", sp: "==1.5.4" }
          - os: macos-14
            ver: { py: "3.9", np: "==1.20.0", sp: "==1.5.4" }
          - os: macos-14
            ver: { py: "3.10", np: "==1.21.6", sp: "==1.7.2" }
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Set up Python ${{ matrix.ver.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.ver.py }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Install GSTools
        run: |
          pip install -v --editable .[test]

      - name: Run tests
        run: |
          pip install "numpy${{ matrix.ver.np }}" "scipy${{ matrix.ver.sp }}"
          python -m pytest -v tests/

      - name: Build dist
        run: |
          # PEP 517 package builder from pypa
          python -m build .

      - uses: actions/upload-artifact@v4
        if: matrix.os == 'ubuntu-latest' && matrix.ver.py == '3.11'
        with:
          name: dist
          path: dist/*

  upload_to_pypi:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Publish to Test PyPI
        # only if working on main
        if: github.ref == 'refs/heads/main'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.test_pypi_password }}
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true

      - name: Publish to PyPI
        # only if tagged
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
